body {
  background: linear-gradient(90deg, #1434ff 0%, #595bff 90%);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

h1, .h1 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  
  &:last-of-type{
    margin-right: 0;
  }
  
  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, .3);
  }

  &:disabled{
    background: #ccc;
    color: #000;
    cursor: not-allowed;
  }



}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.quiz {
  margin: auto;
  width: 100%;
  flex-grow: 1;
  justify-content: center;
  display: flex;
  //background: linear-gradient(90deg, #1434ff 0%, #595bff 90%);
  color: #fff;
}

.active-quiz-wrap {
  width: 1400px;
  max-width: 98%;
  margin: auto;
}

.active-quiz {
  padding: 50px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.title-quiz {
  display: flex;
  justify-content: space-between;
}

.answers-list {
  list-style: none;

  li {
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 10px 15px;
    margin-bottom: 15px;
    cursor: pointer;
    display: block;

    &:hover {
      background: rgba(255, 255, 255, 0.31);
      transition: background .3s ease-in-out;
    }

    &.success {
      background: rgba(0, 191, 0, 0.9);
      border: 1px solid rgba(0, 191, 0, 0.9);
    }

    &.error {
      background: rgba(255, 0, 0, 0.9);
      border: 1px solid rgba(255, 0, 0, 0.9);
    }
  }
}

.finish-quiz {
  padding: 20px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 0;

  ul {
    list-style: none;
  }

  i {
    margin-left: 10px;

    &.fa-check {
      color: rgba(0, 191, 0, 0.9);
    }

    &.fa-times {
      color: rgba(255, 0, 0, 0.9);
    }
  }
}

.menu-toggle i{
  position: fixed;
  top: 40px;
  left: 40px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  transition: all .2s ease-in;
  z-index: 100;
  &:hover{
    opacity: .8;
  }
  &.open{
    left: 320px;
  }
}

.drawer{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  max-width: 300px;
  padding: 20px 10px;
  background: #fff;
  transform: translateX(0);
  transition: transform .2s ease-in;
  z-index: 90;
  &.close{
    transform: translateX(-300px);
  }
  li{
    list-style: none;
    margin-bottom: 15px;
  }
  a{
    text-transform: uppercase;
    font-size: 19px;
    color: #282d90;
    text-decoration: none;
    transition: opacity .2s ease-in;
    &:hover{
      cursor: pointer;
      opacity: .7;
    }
    &.active{
      color: #595bff;
    }
  }
}

.backdrop{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  z-index: -1;
  &.open{
    opacity: 1;
    z-index: 89;
  }
}

.quiz-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      margin-bottom: 10px;
      &:last-of-type{
        margin-bottom: 0;
      }
    }
    a{
      text-transform: uppercase;
      font-size: 19px;
      color: #fff;
      text-decoration: none;
      transition: opacity .2s ease-in;
      &:hover{
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.auth,.quiz-creator{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  h1{
    text-align: center;
    color: #000;
    line-height: 1;
    margin-top: 0;
  }
  >div{
    width: 30%;
  }

  form{
    padding: 20px;
    background: #e3e3e3;
    box-shadow: 0 1px 1px #000;
    >div{
      text-align: center;
    }
    button{
      width: 150px;
    }
  }
}

.input-wrapper,.select-wrapper{
  label{
    text-align: left;
    width: 100%;
    display: block;
  }
  input, select{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    height: 32px;
  }
  select{
    border: 1px solid #bebebe;
    outline: none;
    transition:all 300ms ease-in-out;
  }
  span{
    color: #f01f30;
    font-size: 12px;
    font-weight: 700;
  }

  &.invalid{
    input{
      border: 1px solid #f01f30;
    }
    label{
      color: #f01f30;
    }
  }
}


//loader
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #fed;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
